{% load staticfiles %}
<html>
  <head>
    <title>Tunr</title>
    <link rel="stylesheet" href="{% static 'css/tunr.css' %}" />
  </head>

  <body>
    <a href="/"><h1>Tun.r</h1></a>
    <nav>
      <a href="/">Artists</a>
      <a href="{% url 'song_list' %}">Songs</a>
      <div class="user-info">
        {% if user.is_authenticated %} Welcome {{ user.username }}
        <a href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a href="{'login'}">Log In</a>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
